
@media (min-width: 1024px) {
	.page {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:
			"  video-preview    progress    progress "
			"  video-preview    video-content   video-tag  "
			"  video-preview    video-content   video-tag "
			"  video-preview    video-content   video-tag ";
	}
	.video-preview {
		grid-area:video-preview;
    margin:2rem 2rem 4rem 2rem; /*위 오른쪽 아래 왼쪽*/
	}
	.progress {
		grid-area: progress;
    margin:2rem 2rem 4rem 2rem; /*위 오른쪽 아래 왼쪽*/
	}
	.video-content {
    margin-top:5rem;
		grid-area: video-content;
	}
	.video-tag {
		grid-area: video-tag;
    padding:1rem
	}

}

@media (min-width: 1400px) {
	.page {
		grid-template-columns: 25% 1fr 30%;
	}
}