.BestClasses {
  position: fixed;
  margin: auto;
  height: 100%;
  top: 20%;
  bottom: 10%;
  left: 100px;
  line-height: 100%;
}


.BestClassImage {
  margin-bottom: 15px;
  border-radius: 30px;
  height: 320px;
  width: 240px;
}


.BestClassTitle {
  font-size: 1.75rem;
  font-family: 'payboocMedium';
  /* text-align: left; */
  margin-bottom: 10px;
  color: black;
}


.BestClass {
  width: 400px;
  height: 400px;
  margin-right: 100px;
}


.BestClassesRow {
  width: 1000%;
}