.BestClasses {
  margin-top: 70px;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


.BestClassesRow {
  /* background-image: url(./images/Abract01.png); */
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
}


.BestClasss {
  /* font-family: 'payboocMedium'; */
  margin: auto;
  padding-top: 6rem;
  width: 100%;
  padding-top: 0;
}


.BestClass {
  background: #fff;
display: flex;
flex-direction: flex-start;
/* margin: auto; */
align-items: center;
/* text-align: center; */
border-radius: 30px;
border: none;
/* max-width: 370px;   */
height: 500px;
/* padding: 30px; */
/* box-shadow:  1px 3px rgba(0, 0, 0, 0.2); */
transition-timing-function: all 0.2s ease-in-out;
margin-bottom: 50px;
margin-left: 30px;
margin-right: 30px;
}

.BestClass:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}


.BestClassImage {
  margin-bottom: 15px;
  border-radius: 30px;
  height: 350px;
  width: 370px;
}


.BestClassTitle {
  font-size: 1.75rem;
  font-family: 'payboocMedium';
  /* text-align: left; */
  margin-bottom: 10px;
  color: black;
}


.BestClassNickname {
  /* text-decoration-line: line-through; */
  /* text-align: left; */
  font-weight: bolder;
  font-family: 'payboocMedium';
  color: black;
  font-size: 1.5rem;
}


.Other-Class-Trainer {
  font-family: 'payboocMedium';
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.viewertext {
  font-family: 'payboocMedium';
  font-size: 1.5rem;
}



.contenttext {
  font-size: 20px;
  letter-spacing:5px;
  line-height:200%;
  white-space:pre-line
}

.imagespace {
  margin-left:auto;
  margin-right:auto;
}