@font-face {
  font-family: 'SEBANG_Gothic_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.mainPage {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 3;
  transform-style: flat;
}

.backImage {
  position: fixed;
  width: 100%;
  z-index: 0;
  opacity: 0.7;
}

.backImage2 {
  position: fixed;
  width: 100%;
  height: 150%;
  z-index: 0;
  opacity: 0.7;
}

.backImage3 {
  position: fixed;
  width: 100%;
  height: 200%;
  z-index: 0;
  opacity: 0.7;
}

.buttonChangeMainPageUpIndex {
  position: fixed;
  top: 40%;
  right: 20px;
  z-index: 3;
  font-size: 40px;
  cursor: pointer;
}


.buttonChangeMainPageDownIndex {
  position: fixed;
  top: 50%;
  right: 20px;
  z-index: 3;
  font-size: 40px;
  cursor: pointer;
}


.specificMainPage {
  position: fixed;
  width: 100%;
  height: 100%;
}


.mainBanner {
  position: fixed;
  width: 100%;
  height: 100%;
}


.animateCodeRun {
  position: absolute;
  font-family: "SEBANG_Gothic_Bold";
  right: 18%;
  top: 28%;
  font-size: 4.5rem;
}

@keyframes translateLocation {
  from {
    left: -10%;
  }

  to {
    opacity: 1;
    left: 0%;
  }
}

.animateCodeRun1 {
  position: relative;
  animation-delay: 0s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}

.animateCodeRun2 {
  position: relative;
  animation-delay: 0.4s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}

.animateCodeRun3 {
  position: relative;
  animation-delay: 0.8s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}

.animateCodeRun4 {
  position: relative;
  animation-delay: 1.2s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}

.animateCodeRun5 {
  position: relative;
  animation-delay: 1.6s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}

.animateCodeRun6 {
  position: relative;
  animation-delay: 2.0s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}

.animateCodeRun7 {
  position: relative;
  animation-delay: 2.4s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}

.animateCodeRun8 {
  position: relative;
  animation-delay: 2.8s;
  animation-duration: 0.5s;
  opacity: 0;
  animation-name: translateLocation;
  animation-iteration-count: initial;
  animation-direction: initial;
  animation-fill-mode: forwards;
  cursor: default;
}


.startBack {
  position: absolute;
  font-family: "SEBANG_Gothic_Bold";
  right: 19.3%;
  top: 46%;
}


.getStartedBtn {
  height: 50px;
  width: 300px;
  margin-top: 16px;
  border-radius: 30px;
  background: #01bf71;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.getStartedBtn:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  opacity: 0.8;
}

.buttonChangeMainPageUpIndex:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  opacity: 0.8;
}

.buttonChangeMainPageDownIndex:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  opacity: 0.8;
}

.imageCodeRun {
  position: absolute;
  left: 10%;
  top: 20%;
}

.specificImageCodeRun {
  width: 35%;
  border-radius: 20%;
}