.banner {
  position: relative;
  text-align: center;
  display: flex;
}


.bannervd {
  position: absolute;
  background: #232a34;
}


.bannerment {
  /* display: grid; */
  z-index: 1;
  height: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 540px; */
}


.bannertitle {
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 1.4px;
  margin-bottom: 16px;
}


.bannersubtitle {
  color: #fff;
  font-size: 42px;
  line-height: 1.1;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 16px;
}


.GetStartedBtn {
  width: 150px;
  height: 50px;
  margin-top: 16px;
  border-radius: 30px;
  background: #01bf71;
  color: #fff;
  font-size: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}