.banner {
  position: relative;
  text-align: center;
  display: flex;
}


.bannervd {
  z-index: 1;
  position: absolute;
  background: #232a34;
}


.bannerment {
  z-index: 2;
  width: 100%;
  position: absolute;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}


.bannertext {
  color: #fff;
  font-size: 48px;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 480px) {
    font-size: 32px;
  }
}