.SelectCourse {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
}


.SelectCourses {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 64px;

  @media screen and (max-width: 640px) {
    font-size: 2rem;
  }
}


.Courses {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-gap: 100px;
  padding: 0 50px;
}


.Course {
  background: #fff;
  display: flex;
  flex-direction: flex-start;
  align-items: center;
  border-radius: 10px;
  max-height: 400px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.Course:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}


.CourseImage {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
}


.CourseTitle {
  font-size: 1rem;
  margin-bottom: 10px;
}


.CourseContent {
  font-size: 1rem;
  text-align: center;
}